{% extends 'base.html' %}
{% block menu %}
<div class="ui inverted blue menu">
    <div class="header item">
        <a href="/home/">Home
            <i class="content icon"></i>
        </a></div>
    <a class="item">Blog</a>
    <a class="item">Crawler</a>
    <a class="item">Data</a>
    <a class="item" href="/home/func/">Other</a>
</div>
{% endblock %}

{% block body %}
<h3 class="ui header">功能函数</h3>
<h4 class="ui header">
    <li><a href="/home/func/upload/" title="上传下载文件">上传下载文件</a></li>
</h4>
{% endblock %}
