<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>登陆</h3>

<form enctype="multipart/form-data" action="/home/" method="post">{% csrf_token %}
    <h4>
        <li><label for="user">账号</label></li>
        <textarea cols="20" rows="2" name="user" id="user" style="resize: none"></textarea>
    </h4>
    <h4>
        <li><label for="passwd">密码</label></li>
        <textarea cols="20" rows="2" name="passwd" id="passwd" style="resize: none"></textarea>
    </h4>
    <input type="submit" name="upload">
</form>

</body>
</html>