{% extends 'base.html' %}

{% block body %}

<div class="ui text container segment">
    <h1 style="text-align:center;">MyWeb</h1>
    <form class="ui form" enctype="multipart/form-data" action="/home/" method="post">{% csrf_token %}
        <div class="field">
            <li><label>Username</label></li>
            <input type="text" name="user" placeholder="Username">
        </div>
        <div class="field">
            <li><label>Password</label></li>
            <input type="text" name="passwd" placeholder="Password">
        </div>
        <button class="ui blue button" type="submit">Login</button>
    </form>
</div>
{% endblock %}





