<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpLoad</title>
</head>
<body>
<table width="800" border="0">
    <h2><a href="/" title="首页">首页</a> <a href=".." title="上一页">上一页</a></h2>
    <tr>
        <form enctype="multipart/form-data" action="/home/func/uploadpost/" method="post">{% csrf_token %}
            <td style="height: 400px;width: 400px">
                <input type="file" name="old_input" id="old_input" multiple="multiple" onchange="onc()"/>
                <br>
                <label hidden for="text">text:</label>
                <textarea cols="50" rows="25" name="text" id="text" readonly="readonly"
                          style="resize: none">已存文件如下(限制文件大小10M,暂时不提供文件夹下载)：&#10;{{ data }}</textarea>
                <script>
                    function onc() {
                        var files = document.getElementById('old_input').files;
                        var tex = document.getElementById('text');
                        tex.value = '';
                        for (var i = 0; i < files.length; i++) {
                            var str_text = document.getElementById('text');
                            str_text.value = str_text.value + i + '、' + files[i].name + '\n'
                        }
                    }
                </script>
                <br>
                <input type="submit" name="upload" value="上传">
            </td>
        </form>
        <form enctype="multipart/form-data" action="/home/func/uploadpost/" method="get">{% csrf_token %}
            <td style="height: 400px;width: 400px">
                <br>
                <label hidden for="text">text:</label>
                <textarea cols="50" rows="25" name="text2" id="text2"
                          style="resize: none">{{ uploads_str }}</textarea>
                <br>
                <input type="submit" name="upload" value="下载">
            </td>
        </form>
    </tr>

</table>

</body>
</html>